<!DOCTYPE html>
<html>
  <head>
    <title>Nexter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
    <!-- if we want to show the element to the user, include the equal sign. if we do not want to show it, exclude it so it looks like this: <% %> instead -->
    <%= render 'layouts/navbar' %>
    <div class="container">
        <%= yield %>
    </div>
    </body>
</html>
